@import url(./variables.css);
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans:wght@400;500;600;700;800&display=swap');

/* global styles */
body {
    min-height: 100dvh;
    font-family: "Noto Sans", sans-serif;
    font-size: 1rem;
}

header {
    background-color: var(--clr-dark);
    color: var(--clr-neutral);
    min-height: 6rem;
    font-family: "Lobster", cursive;
    justify-content: center;
}

main {
    padding-block: 2rem 5rem;
}

/* utility classes */
.flex {
    display: flex;
}

.grid {
    display: grid;
}

.column {
    flex-direction: column;
}

.content-wrapper {
    max-width: 1280px;
    margin-inline: auto;
}

/* layout styles */

/* header */
.header-wrapper {
    height: 100%;
    width: 100%;
    max-width: 1280px;
    justify-content: space-between;
    padding-inline: 3rem;
    flex-wrap: wrap;
}

.header-wrapper > * {
    margin: auto 0;
}

.logo {
    text-align: right;
    cursor: pointer;
    border-radius: 6px;
    padding: 1rem;
    border: 4px solid transparent;
    margin-block: 1rem;
    transition: border 150ms ease-in-out;
}

.logo:hover {
    border-color: var(--clr-neutral);
    transition: border 650ms ease-in-out;
}

.nav {
    gap: 6cqi;
}

.nav > a {
    font-size: 1.5rem;
    position: relative;
}

.nav > a::after {
    content: "";
    position: absolute;
    height: 2px;
    inset: auto -8px -4px 0;
    background: linear-gradient(to right, var(--clr-neutral), transparent);
    transition: transform 120ms ease-out;
    transform-origin: left;
    transform: scaleX(0);
}

.nav > a:hover::after,
.nav > a:focus-visible::after {
    transform: scaleX(1);
    transition: transform 200ms ease-out 50ms;
}

/* carousel */
.carousel-wrapper {
    width: clamp(15rem, 100%, 1280px);
    overflow: hidden;
    margin: 5rem auto 3rem;
    justify-content: flex-start;
    padding: 2rem;
    border: 6px solid var(--clr-primary);
    border-radius: 6px;
}

.carousel-grid {
    grid-template-columns: repeat(12, auto);
    gap: .25rem;
    transform: translateX(0);
    transition: transform 700ms ease-in-out;
}

.carousel-grid.right {
    transform: translateX(-50%);
}

.carousel-card {
    position: relative;
    width: 12rem;
    background: linear-gradient(to right, var(--clr-accent), var(--clr-dark));
    cursor: pointer;
    border-radius: 2px;
    overflow: hidden;
    transform: scaleX(1);
    opacity: 1;
    transition: opacity 350ms ease-out, transform 250ms ease-out, width 350ms ease-out;
}

.carousel-card > img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 12rem;
}

.carousel-card > h2 {
    position: absolute;
    color: var(--clr-accent);
    pointer-events: none;
}

.carousel-card > .title-bg {
    position: absolute;
    inset: 0;
    background-color: var(--clr-dark);
    clip-path: polygon(0 68%, 100% 7%, 100% 0, 0 0);
    pointer-events: none;
}

.carousel-card > p {
    max-width: 37ch;
    max-height: 100%;
    position: absolute;
    inset: 0;
    text-overflow: ellipsis;
    background-color: rgb(5 5 5 / 0);
    color: rgb(5 5 5 / 0);
    pointer-events: none;
    transition: background 400ms ease-in, color 180ms ease- out 180ms;
}

.carousel-card:hover > p {
    background-color: rgb(5 5 5 / .4);
    color: var(--clr-neutral);
}

.carousel-card.hidden {
    transform: scaleX(0);
    width: 0;
    opacity: 0;
    transition: opacity 350ms ease-out, transform 250ms ease-out, width 300ms ease-in;
}

.carousel-card:nth-child(-n + 6) {
    transform-origin: left;
}

.carousel-card:nth-child(n + 7) {
    transform-origin: right;
}

/* scrolling functionality in carousel */
.scroll-wrapper {
    margin: 1rem auto;
    gap: 6rem;
}

.scroll-wrapper > button {
    padding: 1rem 2rem;
}

/* individual blog page */
.blog-title {
    margin: 3rem auto 2rem;
}

.blog-content {
    max-width: 76ch;
    margin: auto auto 3rem;
}

/* blog-posts list */
.blog-grid {
    grid-template-columns: repeat(auto-fill, minmax(12rem, 15rem));
    grid-auto-rows: min-content;
    gap: .5rem;
    padding: .5rem;
    place-content: center;
}

.blog-grid > .card {
    position: relative;
    border: 1px solid;
    aspect-ratio: 4 / 3;
}

.blog-grid > .card > h2 {
    color: var(--clr-font);
}

.blog-grid > .card > img {
    position: absolute;
    inset: 0;
    object-fit: cover;
    width: 100%;
    z-index: -1;
}